<div class="container">
<div class="row">
  <h1>Planning a Greater Lansing</h1>
  <p>This website is your place to learn about the major developments that will reshape East Lansing and Lansing.</p>
  <p>How will these projects improve our community?  How can you have a voice in this future?</p>
</div>

  <div class="row">
    <div class="col-md-4 col-lg-4 category">
    	<div class="mSpace"></div>
      <a href="#">
			<%= image_tag("architecture.jpg",  alt: "People working on a project", class: "welcome_image") %>
		 </a>
     <a href="#">
		<h3>Projects</h3>
    </a>
		<p>These projects are transforming Greater Lansing</p>
    </div>
      <div class="col-md-4 col-lg-4 category">
      	<div class="mSpace"></div>
      <a href="#">
			<%= image_tag("community.jpg",  alt: "Community of people", class: "welcome_image") %>
		</a>
    <a href="#">
		<h3>Great City Principles</h3>
    </a>
		<p>Share your ideas about what makes a Great City</p>
    </div>
    <div class="col-md-4 col-lg-4 category">
    	<div class="mSpace"></div>
      <a href="#">
			<%= image_tag("books.jpg",  alt: "Books on a shelf", class: "welcome_image") %>
		</a>
    <a href="#">
		<h3>Great City Books</h3>
    </a>
		<p>Learn about designs that make cities productive, vibrant, and sustainable.</p>
    </div>

  </div>
  <div class="row">
  	<div class="mSpace"></div>
  <h2>About</h2>
  <p>The Our Michigan Ave website is a timely space for deliberation as hundreds of millions of dollars of development projects are underway in Greater Lansing. Our connections to planners, developers, government officials, and community organizations positioned the Our Michigan Ave site to be a rich space for public deliberation....   <a href="#"></a></p>


</div>
</div>
