.navbar-brand{
	height: 40px;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	
}
nav {
	margin-bottom: 20px;
}
.navbar-right {
	margin-top: -4px;
}


nav {
	padding-top: 20px;
}

.navbar-light {
	background-color: white;
	height: 80px;
	border-bottom: 1px solid transparent;
	border-color: #e7e7e7;
	}


@media only screen and (max-width: 991px) {
.navbar-collapse {
position: absolute;
top: 80px;
right: 0;
width: 100%;
padding-right: 20px;
padding-left: 20px;
}
}