// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.welcome_image {
	width: 100%;
	transition: .3s;
	border: 2px solid white;
}

.welcome_image:hover {
	opacity: .8;
	border: 2px solid black;
}

.mSpace {
	margin-top: 80px;
}

.category {
	text-align: center;

	
}
a {
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #333333;

}

@media only screen and (max-width: 576px) {
	
	.row {
	max-width: 98%;
	margin: auto;
	}
}

